:root {
    /* Colors */
    --text : #ffffff;
    --dark: #181818;
    --secondary : #B595FD;
    --secondary100 : #B595FD;
    --button-primary : #582253;
    --primary-light : #433846;
    --primary : #3A313C;

}