# Add any directories, files, or patterns you don't want to be tracked by version control

/wp-config.php
/wp-config-sample.php
/license.txt
/readme.html
/index.html

/.htaccess

/wp-content/themes/pfaltsioni/assets/videos/*
/wp-content/themes/pfaltsioni/assets/pdf/*

/pdf/*

/wp-content/uploads/*
/wp-content/plugins/*
!/wp-content/plugins/index.php

/wp-content/languages/*
/wp-content/wflogs/*
/wp-content/cache/*
/wp-content/logs/*
/wp-content/w3tc-config/*

*.sql

**/.DS_Store
.devcontainer/devcontainer.json
Dockerfile
apache/conf.d/apache.conf
apache/php.ini
docker-compose.yml